<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蜡笔小新</title>
</head>
<body>
    <img width="50%" height="50%" src="/media/xiaoxin/1.jpeg">
    <img width="50%" height="50%" src="/media/xiaoxin/2.jpeg">
    <img width="50%" height="50%" src="/media/xiaoxin/3.jpg">
    <img width="50%" height="50%" src="/media/xiaoxin/4.jpg">
    <img width="50%" height="50%" src="/media/xiaoxin/5.jpeg">
    <img width="50%" height="50%" src="/media/xiaoxin/6.jpg">
</body>
</html>